/*Given style from FM
- Violet: hsl(257, 40%, 49%)
- Soft Magenta: hsl(300, 69%, 71%)
### Headings
- Family: [Poppins]
- Weights: 400, 600
### Body
- Family: [Open Sans]
- Weights: 400
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

button {
    font-family: inherit;
    color: hsl(257, 40%, 49%);
    cursor: pointer;
    width: 10%;
    border-radius: 10px;
    border: none;
}

button:hover {
    background-color: hsl(300, 69%, 71%);
    color: white;
}

i:hover {
    color: hsl(300, 69%, 71%);
}

/*Start layout changes here*/


/*Given style from FM for the footer*/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 100%, 86%); }