/*Given style from FM
- Violet: hsl(257, 40%, 49%)
- Soft Magenta: hsl(300, 69%, 71%)
### Headings
- Family: [Poppins]
- Weights: 400, 600
### Body
- Family: [Open Sans]
- Weights: 400
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
}

.top {
    margin-top: 40px;
}

p {
    color: hsl(256, 79%, 89%);
    margin-top: 40px;
}

button {
    font-family: 'Poppins';
    color: hsl(257, 40%, 49%);
    cursor: pointer;
    border-radius: 50px;
    border: none;
    margin-top: 30px;
    width: 200px;
    padding: 10px;
    font-size: 1.2rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3); 
}

button:hover {
    background-color: hsl(300, 69%, 71%);
    color: white;
}

i:hover {
    color: hsl(300, 69%, 71%);
}

/*Start layout changes here*/
header {
    margin-left: 60px;
    margin-top: 30px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 60px;
}

.left {
    flex: 1 1 55%;
}

.right {
    flex: 0 0 45%;
    align-self: flex-start;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 60px;
}

i {
    padding: 0 5px;
}

/*Need to fix the header and flexbox to be centered and responsive*/
@media screen and (min-width: 375px) and (max-width: 910px) {
    body {
        background-image: url(images/bg-mobile.svg);
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }

    div > img {
        width: 300px;
    }
    
    body {
        text-align: center;
        font-size: 14px;
    }

    header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 30px;
        margin-left: 30px;
    }

    header > img {
        width: 150px;
        margin: 0;
    }

    h1 {
        font-size: 1.3rem;
    }

    p {
        margin-top: 20px;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px 0;
    }

    .right {
        padding: 0;
    }
}

@media screen and (max-width: 1200px) {
    div > img {
        max-width: 500px;
    }

    header > img {
        width: 200px;
    }

    h1 {
        font-size: 2rem;
    }
}

/*Given style from FM for the footer*/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 100%, 86%); }